body {
    background-image: url("../images/mic-background.jpg");
    background-size: cover;
    
}

.gif {
    margin: 10px;
}

button, #add-person { 
    background-color: #000;
    color:#fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

button:hover, #add-person:hover {
    color: #ffdf00;
}

#header {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: Verdana;
    font-style: Italic;
}

#buttonsDiv, #form {
    margin: auto;
    width: 50%;
}

#container {
    margin: auto;
    width: 80%;
    height: 400px;
    overflow-y: auto;
}

#form {
    font-family: Verdana;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

